.card {
    display: flex;
    justify-items: center;
    margin: 20px;
    border: 2px solid black;
    padding: 6px;
    width: 50%;
    font-size: 24px;
    gap: 1%;
}

.image {
    width: 250px;
    height: 200px;
    align-self: center;
    object-fit: cover;
}
.info p {
   margin: 0;
}
.info {
    display: flex;
    flex-direction: column;
}